@inject IServerRepository ServerRepository
@inject NavigationManager navigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

@{
    int i = 1;
}

@if (serverRegionNames is null)
{
    <div class="text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ul class="list-group mb-2">
        @* Filter Servers *@
        <li class="list-group-item">
            <select class="form-control" @onchange="(e) => FilterByRegionName(e.Value.ToString())">
                <option value="All" selected>All</option>
                @foreach (var item in serverRegionNames)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </li>
        @* Search Servers with key down *@

        <li class="list-group-item">
            <input @bind="searchKeyword" @bind:event="oninput" @onkeyup="SearchServersWithKeyDown" type="text" class="form-control" placeholder="Search servers with keyup...">
            @* <p class="@(showSearchPreloader ? "" : "d-none")">Please wait...</p> *@
        </li>
        @* Search Servers with button *@

        <li class="list-group-item">
            <div class="input-group">
                <input @bind="searchKeyword" type="text" class="form-control" placeholder="Search servers with button...">
                <button @onclick="SearchServersWithButton" class="btn btn-outline-secondary" type="button">
                    @if (showSearchPreloader)
                    {
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Loading...</span>
                    }
                    else
                    {
                        <span>Search</span>
                    }
                </button>
            </div>
        </li>

        @* Interactivity Training *@
        <IntractivityTrainingComponent @rendermode="InteractiveServer"></IntractivityTrainingComponent>
    </ul>
}

@if (servers is null)
{
    <div class="text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <ul class="list-group">
        @foreach (var item in servers)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-9">
                        <b>@i) </b> The <b>@item.Name</b> server located in <b>@item.Region</b> and
                        <span class="@(item.ActiveStatus ? "text-success" : "text-danger")">@(item.ActiveStatus ? "Active" : "Not Active")</span>
                    </div>
                    <div class="col-md-1 d-flex justify-content-around">
                        <a class="btn btn-info btn-sm" href="/servers/edit/@item.Id">Edit</a>
                    </div>
                    <div class="col-md-1 d-flex justify-content-around">
                        <button class="btn btn-info btn-sm" @onclick="() => GetEditModal(item.Id)">Edit 2</button>
                    </div>
                    <div class="col-md-1 d-flex justify-content-around">
                        <button class="btn btn-outline-danger btn-sm" type="button" @onclick="() => DeleteServer(item.Id)">Delete</button>
                        @* <EditForm Model="item" OnSubmit="() => DeleteServer(item.Id)" FormName="@($"DeleteServer-{item.Id}")">
                            <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                        </EditForm> *@
                    </div>
                </div>
            </li>
            i++;
        }
    </ul>
}

<EditServerModal Display="showEditModalComponent" ServerId="editServerId" ModalClosed="EditModalClosed"></EditServerModal>

<script src="@Assets["components/pages/server/editservermodal.razor.js"]"></script>

@code {
    private List<Server>? servers;
    private List<string>? serverRegionNames;
    private string selectedRegionName = "All";
    private string searchKeyword = string.Empty;
    private bool showSearchPreloader = false;

    private int? editServerId;
    private bool showEditModalComponent = false;

    protected override async Task OnInitializedAsync()
    {
        servers ??= await ServerRepository.GetAll();

        serverRegionNames ??= await ServerRepository.GetServerRegionNames();
    }

    private async Task GetServerList()
    {
        if (selectedRegionName == "All")
            servers = await ServerRepository.GetAll();
        else
            servers = await ServerRepository.GetAll(selectedRegionName);
    }

    private async Task FilterByRegionName(string regionName)
    {
        selectedRegionName = regionName;
        await GetServerList();
    }

    private async Task SearchServersWithButton()
    {
        showSearchPreloader = true;

        await Task.Delay(1000);
        servers = await ServerRepository.GetAllWithQuery(searchKeyword);

        showSearchPreloader = false;
    }

    private async Task SearchServersWithKeyDown()
    {
        if (searchKeyword.Length > 3 || searchKeyword.Length == 0)
        {
            showSearchPreloader = true;
            await Task.Delay(1000);

            Console.WriteLine(searchKeyword);

            servers = await ServerRepository.GetAllWithQuery(searchKeyword);
        }
        showSearchPreloader = false;
    }

    private async Task DeleteServer(int serverId)
    {
        var item = await ServerRepository.Get(serverId);
        if (item is not null)
        {
            ServerRepository.Delete(item);
            try
            {
                await ServerRepository.Save();
                await GetServerList();
            }
            catch (Exception)
            {
                throw;
            }
        }
        //     navigationManager.Refresh();
    }

    private void GetEditModal(int serverId)
    {
        editServerId = serverId;
        showEditModalComponent = true;
    }

    private void EditModalClosed()
    {
        editServerId = null;
        showEditModalComponent = false;
    }
}